* {
    margin: 0;
    padding: 0;
    font-family:  'Dancing Script';
}

header {
    width: 85%;
    height: 25%;
    padding: 5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    background-image: url("images/header-img.png");
    background-size: cover;
    flex-wrap: wrap;
}


.logo img {
    width: 60px;
    border-radius: 50%;
}

.logo {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.menu a:hover {
    color: red;
}

footer {
    width: 85%;
    margin: 0 auto;
    color: #000;
    padding: 4rem;
    text-align: center;
}

.ilustracion {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.fila {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.5rem;
}

.columna {  
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.columna-texto {
    width: 90%;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 18px;
}

.columna img {
    width: 90%;
    height: 200px;
    object-fit: cover;   
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.columna:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
    cursor: pointer;
}

/*Pop Up Menu*/

.popup .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 700px;
    height: 500px;
    z-index: 10;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
    font-size: 3rem;
}

.popup .content img{
    width: 390px;
    height: 190px;
    margin: 0 auto;
    object-fit: cover;
    margin-top: 2rem;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    border: none;
}

.close-btn:hover {
    background-color: red;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: transform .3s;
    transform: translate(-50%,-50%) scale(1);
}

/*Return up*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(7, 0, 15); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 1.5rem; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
background-color: rgb(37, 37, 37); /* Add a dark-grey background on hover */
}


/*Smooth Scroll*/
html {
    scroll-behavior: smooth;
}

/*Responsive*/

@media only screen and (max-width: 600px) {

    header {
        padding: 18px;
    }

    .menu a {
        font-size: 25px;
    }
    .fila {
        flex-wrap: wrap;
    }

    .columna {
        flex-basis: 100%;
    }

    .columna:hover {
        transform: scale(1.05);
    }

    footer {
        padding: 1rem;
    }

    /*Pop up responsive*/
    
    .popup .content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        background: #fff;
        width: 400px;
        height: 260px;
        z-index: 10;
        text-align: center;
        padding: 2rem;
        box-sizing: border-box;
        font-size: 1.3rem;
    }
    
    .popup .content img{
        width: 90%;
        height: 100px;
        margin: 0 auto;
        object-fit: cover;
        margin-top: 1rem;
    }
    
}
